.nav {
  width: 100vw;
  height: 3em;
  background: black;
  padding: .5em .8em;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40%; }

.burger {
  cursor: pointer;
  width: fit-content;
  transition: 300ms ease-in-out; }
  .burger:hover {
    opacity: .8; }
  .burger .bar1, .burger .bar2, .burger .bar3 {
    width: 20px;
    height: 2px;
    margin: 6px 0;
    background: whitesmoke;
    transition: all 300ms ease-in-out; }
    .burger .bar1.bar1.change, .burger .bar2.bar1.change, .burger .bar3.bar1.change {
      transform: rotate(-45deg) translate(-50%, 50%); }
    .burger .bar1.bar2.change, .burger .bar2.bar2.change, .burger .bar3.bar2.change {
      opacity: 0; }
    .burger .bar1.bar3.change, .burger .bar2.bar3.change, .burger .bar3.bar3.change {
      transform: rotate(45deg) translate(-50%, -50%); }

.logo {
  color: whitesmoke;
  cursor: pointer;
  width: fit-content;
  transition: 300ms ease-in-out; }
  .logo:hover {
    opacity: .8; }

.bag {
  color: whitesmoke;
  width: fit-content;
  cursor: pointer;
  transition: 300ms ease-in-out; }
  .bag:hover {
    opacity: .8; }

.navlist {
  display: block;
  background: black;
  height: 0;
  box-sizing: border-box;
  transition: 300ms ease-in-out; }
  .navlist.expand {
    height: 100vh;
    padding: .1em 2.5em;
    width: 100vw; }
  .navlist span {
    font-size: 1.1em;
    display: none;
    color: whitesmoke;
    cursor: pointer;
    transition: 300ms ease-in-out; }
    .navlist span:hover {
      opacity: .6; }
    .navlist span.expand {
      display: block;
      margin-top: .7em; }

.searchnav {
  background: black;
  text-align: center;
  display: none;
  padding-bottom: .3em;
  padding-top: .3em; }
  .searchnav .cancelsearch {
    display: none;
    cursor: pointer;
    color: #2e98ee;
    transition: 300ms; }
    .searchnav .cancelsearch span {
      font-size: 1.5em; }
    .searchnav .cancelsearch.expand {
      display: inline-block;
      position: absolute;
      top: .5em;
      right: 1em; }
    .searchnav .cancelsearch:hover {
      opacity: .8; }
  .searchnav input {
    border: 0px solid;
    width: 90vw;
    height: 2.5em;
    border-radius: 4px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/2000px-Magnifying_glass_icon.svg.png) no-repeat 0.5em 0.7em #444;
    background-size: 1.2em;
    transition: all 500ms ease-in-out; }
    .searchnav input:hover::placeholder {
      color: #b6b6b6; }
    .searchnav input::placeholder {
      font-size: 1.2em;
      color: grey;
      padding-left: 15%; }
    .searchnav input.expand {
      width: 60vw;
      display: flex;
      justify-content: left;
      margin-left: 1em; }
  .searchnav.expand {
    display: block; }
  .searchnav .quicklinks {
    width: 0;
    text-align: left;
    margin: 1em 1em;
    height: 0;
    transition: all 300ms ease-in-out; }
    .searchnav .quicklinks.expand {
      height: 100vh;
      width: 90vw; }
      .searchnav .quicklinks.expand::before {
        content: "QUICK LINKS";
        color: grey;
        display: block;
        margin: 2em 0;
        font-size: .7em; }
    .searchnav .quicklinks::before {
      content: "QUICK LINKS";
      color: grey;
      display: none;
      margin: 2em 0;
      font-size: .7em; }
    .searchnav .quicklinks span {
      display: none;
      color: whitesmoke;
      padding: .5em 1.5em;
      font-size: .9em;
      cursor: pointer;
      transition: opacity 200ms ease-in-out; }
      .searchnav .quicklinks span:hover {
        opacity: .8; }
      .searchnav .quicklinks span.expand {
        display: block; }
